body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

#navbar {
	position: fixed;
	height: 100%;
	border-right: solid gray 1px;
	background: #cdded6;
}

#navbar header {
	font-size: 30px;
	padding: 20px;
}

.nav-link {
	display: flex;
	border-top: solid gray 1px;
	height: 50px;
	align-items: center;
	padding-left: 20px;
	text-decoration: none;	
	color: black;
}

#main-doc {
	margin-left: 240px;
	padding: 20px;
}

section header {
	font-size: 30px;
	padding: 10px 0;
}

code {
	display: block;
	background-color: #f6bcae;
	margin: 10px;
	padding: 15px;
}

@media (max-width: 768px) {
	#navbar {
		position: fixed;
		top: 0;
		height: auto;
		border-right: none;
		border-bottom: solid gray 1px;
		width: 100%;
		flex-direction: column;
		padding: 0;
	}
	
	.navbar-links {
		display: flex;
		padding-bottom: 10px;
	}
	
	.nav-link {
		border-top: none;
		height: auto;
	}
	
	#main-doc {
		margin-left: 0;
		margin-top: 100px;
	}
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}